.post {
    position: relative;
    width: 90%;
    height: 20%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
    
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-bottom: 20px !important;
    margin-right: -15px;
    margin-left: -15px;
}

    
.post-left {
        width: 15%;            
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
        background-color: white !important;
        border-radius:  15px 0 0 15px  !important;
}
.post-content {
        width: 75%;           
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px; 
        overflow: hidden;     
}
.post-title {
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    text-align: left !important;
    margin-top: 25px;
}

.post-more {
    float: right;
    cursor: pointer;
     margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 20px;
}
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
    overflow:  hidden !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    color: #fff;
    background-color: orange !important;
    background-size: 2000% 2000%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    height: 50% !important;
}
.allPostsContainer {
    height: 100%;
    width: 100%;
}
#scribTitle1
{
   font-family: 'Marck Script', cursive;
   color: white;
   font-size: 17px;
   margin-top: 12px;

}

.dotStyle{
    text-align: right;
}

.trashStyle {
    margin-top: 13px;
    margin-right: 2px;
    margin-bottom: 10px;
    margin-left: 9px;
    cursor: pointer !important;
    float: right;
    font-size: 20px;
}

.fa-ellipsis-h{
    color: black !important;
    cursor: pointer;
}

.deleteHead {
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    margin-top: 37px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 141px !important;
    margin: 0px 10px 10px 10px !important;
    border-radius: 0px !important;
    font-weight: bolder !important;
    font-size: 15px !important;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    
    border-radius: 0px !important;
    font-weight: bolder !important;
    font-size: 15px !important;

}

#deleteNoBtn {
    width: 148px !important;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

#deleteYesBtn{
    width: 148px !important;
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.deletePost{
    text-align: center;
    margin-top: 0px;
} 

    /* Making the content responsive */
  
   
  /* Small devices (portrait tablets and large phones, 480px ) */
   @media only screen and (max-width: 480px){
       body{
           background-color: #FEDC56 ;
       }
       .post-title{
        overflow: hidden;
        font-size: 23px;
    }
   } 

   
  /* Small devices (portrait tablets and large phones, 576px ) */
   @media (max-width: 576px){
    body{
        background-color:  #FFC30B;
    }
    .post-title{
     overflow: hidden;
     font-size: 22px;
 }
   }


  /* Small devices (portrait tablets and large phones, 600px ) */
  @media only screen and (max-width: 600px) 
  {
    body {
        background-color: #FFBF00;
    }
    .post-title{
        overflow: hidden;
        font-size: 22px;
    }
    
  }
  
  /* Medium devices (landscape tablets, 768px ) */
  @media only screen and (max-width: 768px) {
    body {
        background-color: #FDA506;
    }
    .post-title{
        overflow: hidden;
        font-size: 22px;
        
    }
  } 
  
  /* Large devices (laptops/desktops, 900px) */
  @media only screen and (max-width: 900px) {
    body {
        background-color: orange;
    }
    .post-title{
        overflow: hidden;
        font-size: 22px;
        
    }
  } 
    /* Large devices (laptops/desktops, 1024px) */
  @media only screen and (max-width: 1024px){
    body {
        background-color: orange;
    }
    .post-title{
        overflow: hidden;
        font-size: 22px;
        
    }
  }
  
   /* Large devices (laptops/desktops, 1200px) */
  @media only screen and (max-width: 1200x){
    body {
        background-color: orange;
    }
    .post-title{
         
        font-size: 25px;
        
    } 
  }