body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
} 

 /* CSS code for the Create Post modal */
textarea {
   overflow: auto;
   resize: vertical;
   font-weight: bold !important;
   background-color: #E8E8E8 !important;
   border: 1px lightgray !important;
   padding: 10px;
   width: 100%;
}

#createPost{
   font-weight: bold !important;
   color: white;
   background-color: #449d44;
   transition: color .20s ease-in-out !important;
   cursor: pointer;
   margin-top: 29px;
   padding: 9px;
   font-size: 15px;
  }

  #createPost:hover{
   background-color: #1c7430;
}