.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
}
.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.blogAuthor {
    font-family: 'Niconne', cursive;
    font-size: 30px;
    display: inline;
}
.blogContent{
     margin: 0px;
     padding: 0px;
}


.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center !important;
}
.editBtn {
    font-family: Arial, Helvetica, sans-serif ,Abel!important;
    cursor: pointer;
    font-size: 15px;
    padding: 6px;
    width: 76px;
    float: right;
    background-color: #EA3C53;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px #EA3C53;
}

.saveBtn{
    font-family: Arial, Helvetica, sans-serif ,Abel!important;
    cursor: pointer;
    font-size: 15px;
    padding: 6px;
    width: 76px;
    float: right;
    background-color: #EA3C53;
    color: white;
    border: none;
    box-shadow: 1px 1px 4px #EA3C53;
    display: none;
}

.editBtn:hover{
    background-color: crimson;
}

.likeBtn {
    font-family: Arial, Helvetica, sans-serif ,Abel!important;
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
    width: 123px;
    background-color: #EA3C53;
    color: white; 
    border: none;
    box-shadow: 2px 2px 4px #EA3C53;
    border-radius: 3px;
}

.likeBtn:hover{
    background-color: crimson;
}
 
.commentBtn{
    font-family: Arial, Helvetica, sans-serif ,Abel!important;
    cursor: pointer;
    font-size: 15px;
    padding: 8px;
    width: 123px;
    background-color: #EA3C53;
    color: white; 
    border: none;
    box-shadow: 2px 2px 4px #EA3C53;
    margin-top: 9px;
}

.commentBtn:hover{
    background-color: crimson;
}
.likeEdit{
    margin-top: 9px;
}

#likeCount{
    font-family: monospace;
    font-size: 15px;
    font-weight: normal;
    margin-top: 6px;
    margin-bottom: 21px;
     
}

textarea {
    overflow: auto;
    resize: vertical;
    font-family: monospace !important;
    font-size: 15px !important;
}

.comments {
    margin-top: 30px;
    font-family: -WEBKIT-PICTOGRAPH;
}

#commentText{
    font-size: 17px;
    font-weight: bold;
}

#addComments {
    color: white;
    background-color: #E8E8E8;
    width: 743px;
}

#commentAdded {
    color: black;
    background-color: white;
    padding: 19px;
    margin: -3px 25px -7px 25px;
    
}